<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Titulo}}</title>
    <link rel="stylesheet" href="{% static 'css/DiseñadorStyle.css' %}">
</head>
<body>
    <header class="header_Container">
        <h1 class="Texto1">{{Titulo}}</h1>
    </header>
    <nav class="nav_Container">
        <ul>
            <li><a href="Programacion" >Programacion</a></li>
            <li><a href="DiseñadorTIC" >Diseñador_TIC</a></li>
            <li><a href="Ciberseguridad" >CiberSeguridad</a></li>
            <li><a href="Mecatronica" >Mecatronica</a></li>
            <li><a href="IA" >Inteligencia_Artificial</a></li>
        </ul>
    </nav>
    <hr>
    <br>
    <div class="container">
        <table class="table_Container">
            <tr>
                <th class="">Ubicacion</th>
                <th class="">Posicion</th>
                <th class="">Compañia</th>
            </tr>
            <tr>
                <td>Los angeles</td>
                <td>Diseñador Web</td>
                <td>Facebook</td>
            </tr>
            <tr>
                <td>Boston</td>
                <td>Diseñador Movil</td>
                <td>Twitter</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>Desarrollador Movil</td>
                <td>Tumblr</td>
            </tr>
            <tr>
                <td>Los angeles</td>
                <td>Digital Develoment Designer</td>
                <td>Google</td>
            </tr>
            <tr>
                <td>Los angeles</td>
                <td>UI Disigner</td>
                <td>Binance</td>
            </tr>
            <tr>
                <td>Santo Domingo</td>
                <td>Front end web designer</td>
                <td>IQ_Trading</td>
            </tr>
            <tr>
                <td>Texas</td>
                <td>Diseñador Web</td>
                <td>Facebook</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>Diseñador Movil</td>
                <td>Twitter</td>
            </tr>
            <tr>
                <td>Santo Domingo</td>
                <td>Brand Digital Development Lead</td>
                <td>Tumblr</td>
            </tr>
            <tr>
                <td>New Yersy</td>
                <td>Brand Digital Development Designer</td>
                <td>Google</td>
            </tr>
            <tr>
                <td>Boston</td>
                <td>Diseñador especialista en retoque fotografía digital</td>
                <td>Binance</td>
            </tr>
            <tr>
                <td>Santo Domingo</td>
                <td>Ilustrador digital</td>
                <td>IQ_Trading</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>Diseñador Web</td>
                <td>Facebook</td>
            </tr>
            <tr>
                <td>Dallas</td>
                <td>Diseñador Movil</td>
                <td>Twitter</td>
            </tr>
            <tr>
                <td>Silicon Valey</td>
                <td>UX Designer</td>
                <td>Tumblr</td>
            </tr>
            <tr>
                <td>Silicon Valey</td>
                <td>Ilustrador digital</td>
                <td>Google</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>Animador y modelador 3D</td>
                <td>Binance</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>Diseñador de productos interactivos y videojuegos</td>
                <td>IQ_Trading</td>
            </tr>
        </table>
    </div>
    
</body>
</html>