<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        footer {
            background-color:#424949;
            color:white;
            text-align:center;
        }

        .LinkAdmin{
        color:white;
        }
        .LinkAdmin:hover{
         font-size:20px;
        }

    </style>
</head>
<body>
    <hr>
    <footer>
        Pagina web creada para la busquedad de empleos dentro del area informatica &#169<br>
        Jeremy Encarnacion, 2019-8665 <br>
        Gerson Gil, 2019-8785 <br>
        Andrews Fernandez, 2019-7565   <br>
        <a class="LinkAdmin" href="#">Administrador</a>
        <br>
    </footer>
</body>
</html>