<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Titulo}}</title>
    <link rel="stylesheet" href="{% static 'css/ProgramacionStyle.css' %}">
</head>
<body>
    <header class="header_Container">
        <h1 class="Texto1">{{Titulo}}</h1>
    </header>
    <nav class="nav_Container">
        <ul>
            <li><a href="Programacion" >Programacion</a></li>
            <li><a href="DiseñadorTIC" >Diseñador_TIC</a></li>
            <li><a href="Ciberseguridad" >CiberSeguridad</a></li>
            <li><a href="Mecatronica" >Mecatronica</a></li>
            <li><a href="IA" >Inteligencia_Artificial</a></li>
        </ul>
    </nav>
    <hr>
    <br>
    <div class="container">
        <table class="table_Container">
            <tr>
                <th class="">Ubicacion</th>
                <th class="">Posicion</th>
                <th class="">Compañia</th>
            </tr>
            <tr>
                <td>Santo Domingo Norte</td>
                <td>Desarrollador_Web</td>
                <td>Claro RD</td>
            </tr>
            <tr>
                <td>Distrito Nacional</td>
                <td>Desarrollador Movil</td>
                <td>Altice RD</td>
            </tr>
            <tr>
                <td>Santo Domingo Este</td>
                <td>Desarrollador Web</td>
                <td>Cafe Colonial</td>
            </tr>
            <tr>
                <td>Santiago</td>
                <td>Tester</td>
                <td>Seguro Humano</td>
            </tr>
            <tr>
                <td>La Romana</td>
                <td>Desarrollador_Movil</td>
                <td>Altice RD</td>
            </tr>
            <tr>
                <td>Santo Domingo, Gazcue</td>
                <td>Gestor de BBDD</td>
                <td>Seguro SENASA</td>
            </tr>
            <tr>
                <td>Santo Domingo Norte</td>
                <td>Desarrollador_Web</td>
                <td>Claro RD</td>
            </tr>
            <tr>
                <td>Distrito Nacional</td>
                <td>Desarrollador Movil</td>
                <td>Altice RD</td>
            </tr>
            <tr>
                <td>Santo Domingo Este</td>
                <td>Desarrollador Web</td>
                <td>Cafe Colonial</td>
            </tr>
            <tr>
                <td>Santiago</td>
                <td>Tester</td>
                <td>Seguro Humano</td>
            </tr>
            <tr>
                <td>La Romana</td>
                <td>Desarrollador_Movil</td>
                <td>Altice RD</td>
            </tr>
            <tr>
                <td>Santo Domingo, Gazcue</td>
                <td>Gestor de BBDD</td>
                <td>Seguro SENASA</td>
            </tr>
            <tr>
                <td>Santo Domingo Norte</td>
                <td>Desarrollador_Web</td>
                <td>Claro RD</td>
            </tr>
            <tr>
                <td>Distrito Nacional</td>
                <td>Desarrollador Movil</td>
                <td>Altice RD</td>
            </tr>
            <tr>
                <td>Santo Domingo Este</td>
                <td>Desarrollador Web</td>
                <td>Cafe Colonial</td>
            </tr>
            <tr>
                <td>Santiago</td>
                <td>Tester</td>
                <td>Seguro Humano</td>
            </tr>
            <tr>
                <td>La Romana</td>
                <td>Desarrollador_Movil</td>
                <td>Altice RD</td>
            </tr>
            <tr>
                <td>Santo Domingo, Gazcue</td>
                <td>Gestor de BBDD</td>
                <td>Seguro SENASA</td>
            </tr>
        </table>
    </div>
</body>
</html>